.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
/* Container for the video and logo */
.header-logo {
    position: relative; /* Relative positioning for the container */
    width: 100%;
    /* max-width: 800px; Adjust the max width as needed */
    overflow: hidden; /* Hide overflow */
    background-color: aqua;
    opacity: 0.6;
  }
  
  /* Style the video to take up the full container */
  .elementor-background-video-hosted {
    width: 1630.22px;
    width: 1630.22px;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline spacing */
  }
  /* Position the logo absolutely over the video */
  .logo {
    position: absolute;
    /* top: 20px; Adjust the top position as needed */
    /* left: 60px; Adjust the left position as needed */
    color: rgb(230, 218, 218); /* Set the logo text color */
    font-size: 20vw; /* Adjust the font size of the logo */
    font-weight: bold; /* Make the logo text bold */
    z-index: 1; 
  }

.header-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    min-width: 100 vw;
    background-color: transparent;
    color: aliceblue;

}

img {
    max-width: 10vw;
    height: auto;
}
.date{
    font-size: large;
    color: aliceblue;
    margin: 2vw;
}
video::-webkit-media-controls {
    display: none !important;
  }
/* Default font size */
  
  /* Medium screens (tablets, 768px and up) */
  @media (max-width: 768px) {
    .logo {
        /* position: absolute; */
    top: 20px; /* Adjust the top position as needed */
    /* left: 60px; Adjust the left position as needed */
    color: rgb(230, 218, 218); /* Set the logo text color */
    font-size: 30vw; /* Adjust the font size of the logo */
    font-weight: bold; /* Make the logo text bold */
    z-index: 1; 
    }
  }
  
  /* Small screens (mobile phones, 576px and up) */
  @media (max-width: 576px) {
    .logo {
        /* position: absolute; */
    top: 120px; /* Adjust the top position as needed */
    /* left: 60px; Adjust the left position as needed */
    color: rgb(250, 247, 247); /* Set the logo text color */
    font-size: 20vw; /* Adjust the font size of the logo */
    font-weight: bold; /* Make the logo text bold */
    z-index: 1; 
    }
  }
  
  /* Extra small screens (mobile phones, less than 576px) */
  @media (max-width: 375px) {
    .logo {
        /* position: absolute; */
    top: 220px; /* Adjust the top position as needed */
    /* left: 30px; Adjust the left position as needed */
    color: rgb(230, 218, 218); /* Set the logo text color */
    font-size: 10vw; /* Adjust the font size of the logo */
    font-weight: bold; /* Make the logo text bold */
    z-index: 1; 
    }
  }
  